body{
	background-color: orange;
}
.center {
  display: block;
  margin-left: 200px;
  margin-right: 200px;
  width: 50%;
}
#container {
	background-color:mediumpurple;
	width: 800px;
	margin-left: 30px;
	margin-right: 30px;
}
#container h1 {
	text-align: center;
}
#header{      
background-color: #787878;
color: black;  
text-align: center;
float: right;
border: solid blue;

}
#content{
	padding: 10px;
	float: right;
}
#nav{
	 
	  float: left;
}
#main{
width: 800px;
float: right;
border: solid lime;   
}
 
#secondmain{
	width: 500px;
    
    float: right;
}
#footer{
	clear: both;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0;
	background-color: grey;
	color: black;
	text-align: center;
	border: solid blue;
}
h1 {
	color: blue;
}


